// {
//   "presets": [
//     ["@babel/env", {
//       "targets": {
//         "browsers": ["last 2 versions", "safari >= 11", "ie >= 10"]
//       },
//       "useBuiltIns": "usage",
//       "corejs": 3,
//     }],
//     "@babel/preset-react"
//   ],
//   "plugins": [
//     "@babel/plugin-transform-runtime",
//     "@babel/plugin-proposal-class-properties",
//     "@babel/plugin-syntax-dynamic-import",
//     [
//       "babel-plugin-styled-components", {
//         "ssr": false,
//         "filename": false,
//         "pure": true
//       }
//     ]
//   ]
// }